<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pray for Me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="prayForMeApp">
    <!--[if lte IE 8]>
      <div class="alert alert-warning" role="alert">
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
      </div>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" ui-sref="main">Pray for Me</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ui-sref-active="active"><a ui-sref="prayer-list">Prayer List</a></li>
              <li ui-sref-active="active"><a ui-sref="new-request">New Request</a></li>
              <li ui-sref-active="active"><a ui-sref="own-list">My Requests</a></li>
              <li ui-sref-active="active"><a ui-sref="closed-list">Prayer Wall</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" ng-controller="LoginCtrl as login">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ login.fullname }} <span class="caret"></span></a>
                <form class="dropdown-menu" style="padding: 1em; padding-bottom: 0;">
                  <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" ng-model="login.username">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block" ng-click="login.login()" ng-disabled="login.loading"><span class="fa fa-spinner fa-spin" ng-class="{ hide: !login.loading }"></span> Login</button>
                  </div>
                </form>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div ui-view=""></div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/request-list.js"></script>
        <script src="scripts/controllers/request-detail.js"></script>
        <script src="scripts/controllers/new-request.js"></script>
        <script src="scripts/services/requests.js"></script>
        <!-- endbuild -->
</body>
</html>
