<div class="panel" ng-class="{ 'panel-default': request.state === 'active', 'panel-success': request.state === 'closed' }" ng-repeat="request in requests.getList() | orderBy:'-timestamp'">
  <div class="panel-heading">
    <a ui-sref="request-detail({ id: request.id })">{{request.author}} (<span am-time-ago="request.timestamp"></span>)</a>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-9">
        {{request.content}}
      </div>
      <div class="col-xs-3">
        <button class="btn pull-right">Respond</button>
      </div>
    </div>
  </div>
</div>
