<div class="container">
  <div class="panel" ng-class="requestDetail.request.is_closed ? 'panel-success' : 'panel-default'" ng-hide="requestDetail.loading">
    <div class="panel-heading">
      <button class="btn btn-success pull-right" ng-show="requestDetail.closable" ng-disabled="requestDetail.closing" ng-click="requestDetail.close()"><i class="fa fa-check"></i> Close</button>
      <h3 class="panel-title">{{requestDetail.request.user_full_name}}</h3>
      <i class="fa" ng-class="requestDetail.getScopeIcon(requestDetail.request.scope)" data-toggle="tooltip" data-placement="bottom" ng-attr-data-original-title="{{requestDetail.getScopeName(requestDetail.request.scope)}}"></i> Created <span am-time-ago="requestDetail.request.date_created"></span><span ng-show="requestDetail.request.is_closed">, closed <span am-time-ago="requestDetail.request.date_closed"></span></span>
    </div>
    <div class="panel-body">
      <div class="row col-xs-12">
        <div class="well">
          <h3 ng-show="requestDetail.request.title">{{requestDetail.request.title}}</h3>
          {{requestDetail.request.description}}
        </div>
      </div>
      <div class="row col-xs-12">
        <form>
          <div class="form-group">
            <textarea class="form-control" ng-model="requestDetail.description" placeholder="Add your own response"></textarea>
          </div>
          <div class="form-group">
            <button class="btn btn-success" type="submit" ng-click="requestDetail.createResponse()" ng-disabled="requestDetail.creating"><i class="fa fa-spinner fa-spin" ng-class="{ hide: !requestDetail.creating }"></i> Post</button>
          </div>
        </form>
      </div>
      <div class="row col-xs-12">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="response in requestDetail.request.responses | orderBy:'-date_created'">
            <h3>{{response.responder_full_name}} <small am-time-ago="response.date_created"></small></h3>
            {{response.description}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
